<h4 class="card-title">{{ obtenerPregunta() }}</h4>
<ul class="list-group">
    <li class="list-group-item" 
    *ngFor = "let respuesta of listPregunta[_preguntaService.indexPregunta].respuestas; let i = index"
    (click) = "respuestaSeleccionada(respuesta, i)" [ngClass] = "addClassOption(respuesta)">
       {{ respuesta.nombre }}
        <span class="material-icons correct float-end " *ngIf = "iconCorrecta(respuesta)">
            check_circle
        </span>
        <span class="material-icons incorrect float-end" *ngIf = "iconIncorrecta(respuesta)">
            close
        </span>
    </li>
</ul>
<br>
<app-botonera></app-botonera>
